{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% for item in items %}
            {% if loop.index == 1 and menu_level == 0 %}
                <a class="btn btn--sm type--uppercase" href="{{ item.url }}">
                    <span class="btn__text">
                      {{ item.title }}
                    </span>
                </a>
            {% else %}
                <a class="btn btn--sm btn--primary type--uppercase" href="{{ item.url }}">
                    <span class="btn__text">
                      {{ item.title }}
                    </span>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
