{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% for item in items %}
            {% if item.below %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ item.url }}" id="navbarDropdownMenuLink{{ loop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ loop.index }}">
                        {{ menus.sub_menu_links(item.below, attributes, menu_level + 1) }}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}

        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro sub_menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% for item in items %}
            <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    {% endif %}
{% endmacro %}
