{% for item in items %}
    {% if loop.length == 1 %}
    <a href="/produits/categorie/{{ item.content|render|striptags|trim|lower|replace({' ': '-',}) }}">
        {{ item.content }}
    </a>
    {% else %}
        {% if loop.last %}
            <a href="/produits/categorie/{{ item.content|render|striptags|trim|lower|replace({' ': '-',}) }}">
                {{ item.content }}
            </a>
        {% else %}
            <a href="/produits/categorie/{{ item.content|render|striptags|trim|lower|replace({' ': '-',}) }}">
                {{ item.content }} -
            </a>
        {% endif %}
    {% endif %}
{% endfor %}