<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">
        <link href="/themes/custom/d8_theme_bs4/assets/css/style.css" rel="stylesheet" type="text/css" media="all">

    </head>
    <body data-smooth-scroll-offset="77">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9R69V7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="topbar"></div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <div class="topbar"></div>
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <script src="/themes/custom/d8_theme_bs4/assets/js/script.js"></script>

    </body>

    </html>
