<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">
            <link href="/mes-testes/drupal8/themes/custom/d8_theme_bs4/dist/main.min.css" rel="stylesheet" type="text/css" media="all">

            </head>
<body>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
    <script src="/mes-testes/drupal8/themes/custom/d8_theme_bs4//dist/main.min.js"></script>
</body>
</html>
