{% include directory ~ '/templates/includes/header.html.twig' %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ page['#title'] }}</h1>
    {% block breadcrumb %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ page['#title'] }}</li>
        <li class="breadcrumb-item"><a href="/">{{ "Home" |trans}}</a></li>
      </ol>
    {% endblock %}
  </div>
</div>
{% if page.highlighted %}
  {{ page.highlighted }}
{% endif %}
{% if page.content %}
  {{ page.content }}
{% endif %}
{% include directory ~ '/templates/includes/footer.html.twig' %}